{% extends "./base/base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Choose a subject you need more practice with</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for subject in catalog_content %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a class="image_wrapper" href="{{ url_for('classroom_app') }}">
                <img class="img" width="100%" height="225" src="{{ url_for('static', filename=catalog_content[subject]['thumbnail']) }}"/>
              </a>
              <div class="card-body">
                <p class="card-text">{{ subject }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</main>

{% endblock %}
