.bg-growth {
    background-position: right;
    background: url("../images/stairs2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


 .registration-form {
  padding: 1rem;
  background-color: white;
  margin-top: 3rem
  }

 .tab-content {
    display: none
 }

