

<div class="col-xl-6 registration-form rounded shadow">

    <div class="container">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a id="default-form" onClick="showForm('signup', this)" class=" nav-tab nav-link active">Signup</a>
          </li>
          <li class="nav-item">
            <a onClick="showForm('login', this)" class="nav-tab nav-link btn-secondary" >Log in</a>
          </li>
        </ul>

    </div>


    <div id="signup" class="formwrapper tab-content">
      <form class="signup-form" method="POST" action="{{ url_for('users.register') }}">
          {{ form.csrf_token }}
          <div class="form-group">
              <div class="form-field">{{ form.name.label }} {{ form.name(class_="form-control") }}</div>
              <div class="form-field">{{ form.email.label }} {{ form.email(class_="form-control") }}</div>
              <div class="form-field">{{ form.password.label }} {{ form.password(class_="form-control") }}</div>
              <div class="form-field">{{ form.confirm.label }} {{ form.confirm(class_="form-control") }}</div>

              {{ form.submit(class_="btn btn-secondary btn-lg my-2 mr-2") }}
          </div>
      </form>
    </div>

    <div id="login" class="formwrapper tab-content">
      <form class="signup-form" method="POST" action="{{ url_for('users.login') }}">
          {{ form.csrf_token }}
          <div class="form-group">
              <div class="form-field">{{ form.email.label }} {{ form.email(class_="form-control") }}</div>
              <div class="form-field">{{ form.password.label }} {{ form.password(class_="form-control") }}</div>
              {{ form.submit(class_="btn btn-secondary btn-lg my-2 mr-2") }}
          </div>
      </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ url_for('home.static', filename='login_signup.js') }}"></script>
