.app {
  padding: auto
}

.workspace {
  padding: 100px;
  margin: 10rem;
  text-align: center;
  background-color: white;
  opacity: .5
}

.input {
  text-align: center;
}

.form-control {
  width: 200px;
  text-align: center;
}
