{% extends "base/base.html" %}

{% block content %}
<main role="main">

<div class="container py-5 mb5">
   <h1 class="mb-5">Sample application</h1>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for subject in catalog_content %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a class="image_wrapper" href="{{ url_for('classroom.classroom_app') }}">
                <img class="img" width="100%" height="225" src="{{ url_for('static', filename=catalog_content[subject]['thumbnail']) }}"/>
              </a>
              <div class="card-body">
                <p class="card-text">{{ subject }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

</main>

{% endblock %}
